<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <title>電子健康病例系統 - 登入</title>
    <!-- Meta-Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- style CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css" media="all">
    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap" rel="stylesheet">

</head>
<body>
    <section class="main">
        <div class="logo text-center">
            <h1> <a href="index.html"> 電子健康病例系統 - 登入</a></h1>
        </div>
        <div class="content-w3ls text-center">
            <img src="images/admin.png" alt="" class="img-responsive">
            <form id="login-form" action="#" method="post">
                <div class="wthree-field">
                    <input name="text1" id="user_id" type="text" value="" placeholder="Username" required>
                </div>
                <div class="wthree-field">
                    <input name="password" id="password" type="Password" placeholder="Password">
                </div>
                <div class="wthree-field">
                    <button type="submit" class="btn">Sign In</button>
                </div>
				{% if error %}
                <p class="error-message">{{ error }}</p>
				{% endif %}
                <div class="login-bottom">
                    <a href="/signup" class="">Create An Account</a>
                </div>
            </form>
        </div>
        
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.js"></script>
    <script>
        document.getElementById('login-form').addEventListener('submit', function(e) {
            e.preventDefault(); // 阻止表單的默認提交行為

            var userId = document.getElementById('user_id').value;
            var password = document.getElementById('password').value;

            // 合併帳號和密碼
            var combined = userId + password;

            // 使用 CryptoJS 進行 SHA-224 處理
            var hashed = CryptoJS.SHA224(combined).toString();

            // 創建一個新的表單數據對象
            var formData = new FormData();
            formData.append('user_id', userId);
            formData.append('hashed_password', hashed);

            // 發送表單數據到後端
            fetch('/login', {
                method: 'POST',
                body: formData
            }).then(response => response.json())
              .then(data => {
                  if (data.success) {
                      window.location.href = '/home';
                  } else {
                      alert("登入失敗: " + data.message);
                  }
              })
              
        });
    </script>
</body>
</html>
